
.btn-xl {
@include button-variant(white, $theme-primary ,  $theme-primary);
}

.intro-text {
  text-shadow: 1px 3px 1px black;
}
.text-muted {
    color: #05799f;
}

.text-primary {
    color: $theme-primary;
}

  .inline {
      li {
          padding:10px 5px;
          a {
            display: inline-block;;
            padding: 2px;
          }
      }
  }

  .nav {
      li {
          display: inline;
          a {
            font-weight: 700;
            font-size: 16px;
            color: $theme-primary;
          }
      }
  }

  .navbar-custom {
    .navbar-brand {
      &.active {
          &:hover,
          &:focus,
          &:active {
            color: $gray-light;
          }
      }
    }
    .nav {
      li {
        a {
          font-weight: 700;
          color: $gray-base;
          &:hover,
          &:active {
            border-radius: 3px;
            color:#015077;
          }
        }

        &.languages {
          a {
            display: inline-block;
          }
        }
      }
    }
  }


section {
  padding: 100px 0 50px 0;
    h2.section-heading {
        font-size: 32px;
        padding-bottom: 20px;
        color:#1b4b62;
    }
      h3.section-subheading {
        p {
          font-size: 16px;
        }
      }
}


// About section

section#about {
  .timeline-image {
    background-color: white;
  }
  .timeline-background {
    background-color: #09c;
  }
}

// Portfolio section

section#portfolio {
  .portfolio-item {
    &:last-child {
      margin:0;
    }
  }
  .portfolio-item .portfolio-caption {
    position: relative;
    top: -49px;
    color: white;
    background: rgba(0, 153, 204, 0.8);
    pointer-events: none;
    padding: 15px;
  }
  img {
    width: 400px;
    height: 200px;
  }
}

section#pricelist {
  .table {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    padding-left: 0;
    margin: 0 auto;
    max-width: 95%;
      li {
          list-style-type:none;
          border:1px solid #05799f;
          line-height: 42px;
          padding:0 5px;
          margin-top:-1px;

          &:first-child {
            margin-top:0;
          }
      }
      span {
        float:right;
        display: block;
        padding-left: 5px;
        width: 58px;
        border-left:1px solid #05799f;

        .small {
          font-size: 10px;
        }
      }
  }
}
// Location section

section#location {
  .container {
    padding-right:0;
    padding-left:0;
    width: 100%;
  }
  span, p {
    color:#05799f;
  }
  span {
    font-weight: 700;
  }
  #map {
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
  }
}

// Contact section

section#contact {
  h2.section-heading {
    margin-bottom: 0;
  }
  ::-webkit-input-placeholder {
    color:$gray-darker;
  }
  :-moz-placeholder { /* Firefox 18- */
    color:$gray-darker;
  }
    ::-moz-placeholder {  /* Firefox 19+ */
    color:$gray-darker;
  }
  :-ms-input-placeholder {
    color:$gray-darker;
  }
}

// Footer

footer {
    background-color: #242424;
    span.copyright {
      color:#d3c7c7;
    }
}

// Navbar Change on Scroll
@media (min-width:992px) {
  .navbar-custom {
    .nav {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width: 992px){
  .container {
    max-width: 780px;
    width: inherit;
  }

  .navbar-custom {
    .nav {
      li {
        a {
          padding: 10px 5px;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
  }

}



@media(min-width:768px) {
  .navbar-custom {
    .navbar-nav {
      float:right;
    }
    .navbar-brand {
        font-size: 1.5em;
        color:$gray-dark;
    }
    &.affix-top {
      height: 70px;
      position: relative;
      margin: 0;
      padding: 10px 0px;
    }
    &.affix{
      height: 70px;

      .nav {
        li {
          a {
            color:white;
            &:focus,
            &:hover {
              color:#015077;
              border-radius: 3px;
            }
          }
        }
        .active {
          a {
            color:#015077;
            background-color: #eee;
          }
        }
      }
    }
  }
}


@media(max-width:768px) {
  .navbar-custom {
      .nav {
        li {
          a {
            color:white;
          }
        }
      }
    }
  section#pricelist  .table {
      -webkit-column-count:1;
      -moz-column-count:1;
      column-count:1;
      font-size: 12px;
    }
    .fix {
      font-size: 10px;
    }
}
